* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: aqua;
    background-color: black;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container img{
    border-radius: 50px;

}
.heading{
    margin: 1rem 0;
}
.time{
    margin-top: 2rem;
    border: 1px solid;
    padding: 1rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;

}
.time p{
    margin: 0 0.9rem;
    margin-bottom: 1rem;
}
.columns{
    font-size: 2rem;
}